* {
    margin: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("../images/background-5.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
}
header, footer{
    display: flex;
    background-color: #4f2a69a5 ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header p, footer p {
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
}

button {
    background-color: #d396ff;
    padding: 1rem;
    border-radius: 8px;
}

#game-area {
    width: 80%;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#plays-made-section, .score-section, .notifications{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#plays-made-section picture{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
}

#plays-made-section img {
    width : 20%;
}

.notifications img{
    width: 50%;
}

.game-settings, .game-controls{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #4f2a69a5;
    padding: 0.5rem;
}